<% url_opts = action_name == 'edit' ? {:url => admin_page_path(@page.id)} : {} %>
<%= form_for [:admin, @page], url_opts do |f| %>

  <%= render :partial => "/shared/admin/error_messages",
    :locals => {
    :object => @page,
    :include_object_name => true
  } %>

  <%= render :partial => "locale_picker",
    :locals => {
    :current_locale => Thread.current[:globalize_locale]
  } if ::Refinery.i18n_enabled? %>


  <div class="field">
    <% if @page.section.blank? #override if this page is a section, no title field%>
      <%= f.label :title %>
      <%= f.text_field :title, :class => "larger widest" %>
    <% else %>
      <%= f.fields_for :parts do |p| %>
        <% if p.object.title=="titre" %>
          <%= p.label    p.object.title  %>
          <%= p.text_field :body, :class => "larger widest" %>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <%= render :partial => "form_fields_after_title",
    :locals => {
    :f => f}
  %>

  <% if !@page.section.blank? #override if this page is a section, custom partial from page parts %>

    <div class='field'>
      <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
        <ul id='page_parts' class='ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all'>
          <li class='ui-state-default ui-state-active'>
            <a href="#">En-tête</a>
          </li>
        </ul>

        <div id='page_part_editors'>
          <div id='page_part_contenu' class='page_part wymeditor_like' >
          <%= render :partial => "/shared/section_form",
            :locals => {
            :f => f,
            :object => @page } %>
          </div>
        </div>
      </div>
    </div>

  <% else %>

    <div class='field'>
      <%= render :partial => "form_page_parts",
        :locals => {
        :f => f
      } %>
    </div>

  <% end %>

  <%= render :partial => "form_advanced_options",
    :locals => {
    :f => f
  } %>

  <%= render :partial => "/shared/admin/form_actions",
    :locals => {
    :f => f,
    :continue_editing => true,
    :delete_title => t('delete', :scope => 'admin.pages'),
    :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @page.title)
  } %>

  <%= render :partial => "form_new_page_parts",
    :locals => {
    :f => f
  } if RefinerySetting.find_or_set(:new_page_parts, false) %>
<% end %>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      page_options.init(
      <%= RefinerySetting.find_or_set(:new_page_parts, false).to_s %>
      , "<%= new_admin_page_part_path %>"
      , "<%= admin_page_parts_path %>"
      );
    });
  </script>
<% end %>
