<div class="block">

	<div class="layer">
		<div id="today">
      <p id="today_month"><%= current_month %></p>
      <p id="today_wrap"><span id="today_day"><%= current_day_word %></span>
      <span id="today_number"><%= current_day_number %></span></p>
    </div>
    <% @page.section.events.today.each do |event| %>
      <div class="news">
        <h2><%=raw  event.title %></h2>
        <p><%= raw event.description%></p>
      </div>
    <% end %>
	</div>
	
	<h1>Agenda</h1>
	
	<div id="calendar">
    <ul>
      <% (first_day..first_day.end_of_week).each do |day| %>
        <li class="<%= day_type(day)  %>"><%= l(day , :format => :day_number) %>
        <% if Event.given_day(day).count > 0 %>
          <span class="event_number">Date.given_day.count</span>
        <% end %>
        </li>
      <% end %>
		</ul>
		<ul id="current_week">
		  <li class="first">19</li>
		  <li>20</li>
		  <li class="event_check">21 <span class="event_number">2</span> </li>
		  <li>22</li>
		  <li>23</li>
		  <li class="weekend">24</li>
		  <li class="weekend">25</li>
		</ul>
	</div>
	
	<div id="month_switcher"><a href="#" class="left"></a><p>septembre</p><a href="#" class="right"></a></div>
	
	<div class="calendar_overlay">
		<p>Blabla</p>
		<p>Blabla</p>
		<p>Blabla</p>
	</div>
	
</div>


