<div class="block">

	<div class="layer">
		<div id="today">
      <p id="today_month"><%= current_month %></p>
      <p id="today_wrap"><span id="today_day"><%= current_day_word %></span>
      <span id="today_number"><%= current_day_number %></span></p>
    </div>
    <% @page.section.events.today.each do |event| %>
      <div class="news">
        <h2><%=raw  event.title %></h2>
        <p><%= raw event.description%></p>
      </div>
    <% end %>
	</div>
	
	<h1>Agenda</h1>
	
  <div id="calendar">
    <% _day = Date.today %>

    <% (first_day(_day)..last_day(_day)).step(7).each do |week_day| %>
      <ul <%=raw  week_type(week_day) %> >
      <% (week_day...(week_day+7.days)).each do |day| %>
        <li class="<%= day_type(day)  %>"><%= l(day , :format => :day_number) %>
        <% if Event.given_day(day).count > 0 %>
          <span class="event_number">
            <%= Event.given_day(day).count %>
          </span>
        <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
	</div>
	
	<div id="month_switcher"><a href="#" class="left"></a><p><%= current_month %></p><a href="#" class="right"></a></div>
	
	<div class="calendar_overlay">
		<p>Blabla</p>
		<p>Blabla</p>
		<p>Blabla</p>
	</div>
	
</div>


