<%= form_tag('/send/demande_absence') do -%>

<h2>Demande de congé à la direction de l’établissement</h2>

<p>Elève </p>
<%= label_tag :nom %>
<%= text_field_tag :nom %>
<br />

<%= label_tag :prenom %>
<%= text_field_tag :prenom %>
<br />

<%= label_tag :classe %>
<%= text_field_tag :classe %>
<br />

<p>Dates  de l’absence </p>
<p>
du
  <%= label_tag 'Date de début' %>
  <%= select_datetime DateTime.now, :prefix => :start_date %>
</p>
<p>
au
<%= label_tag 'Date de fin' %>
<%= select_datetime DateTime.now, :prefix => :end_date %>
</p>

<p>
Motif :
<br />
<%= text_area_tag :motive,nil, :rows => 10,  :cols => 60 %>
</p>
<p>
  <%= label_tag 'Email d’un des parents :' %>
  <%= email_field_tag :email %>
</p>

  <%= submit_tag 'Envoyer' %></p>
<% end -%>

<p>En principe, il n’est pas accordé de congés immédiatement avant ou après les vacances.</p>
