<%= form_tag('/send/resultat_justification') do -%>
<div class='form_absence'>
  <h2>Justification d’absence à la direction de l’établissement</h2>
  <p>Elève </p><br/>
  <%= label_tag :nom %><br/>
  <%= text_field_tag :nom %>
  <br />

  <%= label_tag :prenom %><br/>
  <%= text_field_tag :prenom %>
  <br />

  <%= label_tag :classe %><br/>
  <%= text_field_tag :classe %>
  <br />

  <!-- Do not remove this field -->
  <%= label_tag :country, "Country", :class => "country"  %>
  <%= text_field_tag :country, '', :class => "country" %>
  <!--**************************-->

  <%= label_tag 'Email d’un des parents' %><br />
  <%= email_field_tag :email %>
  <br />

  <%= label_tag 'Téléphone d’un des parents' %><br />
  <%= text_field_tag :phone %>
  <br />

  <p>Dates de l’absence </p>
  <p>
  du
    <%= label_tag 'Date de début' %><br/>
    <%= select_datetime DateTime.now, :prefix => :start_date %>
  </p>
  <p>
  au
  <%= label_tag 'Date de fin' %><br/>
  <%= select_datetime DateTime.now, :prefix => :end_date %>
  </p>
  <p>Motif :</p>
  <p>
    <%= text_area_tag :motive,nil, :rows => 10,  :cols => 69 %>
  </p>

  <%= submit_tag 'Envoyer', :class => 'submit'%></p><br />
  <p>Toute justification d'absence envoyée par le formulaire sera vérifiée par le secrétariat.</p>
</div>
<% end -%>
