<div class='portfolio'>
<h1><%=  @portfolio_entry.title %> </h1>

<div id="left_col">
  <%=  raw @portfolio_entry.body %><br/>
  <% @portfolio_entry.images.each_with_index do |image, index| -%>
    <% if @portfolio_entry.images.count == 1 %>
             <%= link_to image_fu(image, '420x300#',  {:class => "thumbnails_img"  }) ,
          image.url ,  {:rel => "prettyPhoto[#{@portfolio_entry.title.gsub(' ','')}]"} %>
  
        <% else %>
             <%= link_to image_fu(image, '105x92+' + (image.width/2).to_s + '+' + (image.height/2).to_s,  {:class => "thumbnails_img"  }) ,
          image.url ,  {:rel => "prettyPhoto[#{@portfolio_entry.title.gsub(' ','')}]"} %>
  
    <% end %>
  <% end %>
</div>
<div id="right_col">
  <% if @portfolio_entries.many?%>
  <ul>
    <% @portfolio_entries.each do | portfolio | -%>
      <li class="clearfix"><%= link_to portfolio.title, portfolio_path(portfolio)  %></li>
    <% end -%>
  </ul>
  <% end %>
</div>

</div>

<% content_for :javascript_libraries, jquery_include_tags(:jquery_ui => false) %>
<% content_for :javascript_libraries, javascript_include_tag('jquery.prettyPhoto.js') %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag('prettyPhoto') %>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto({social_tools:false});
    });
  </script>
<% end %>
