<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>École Vinet</title>
    <%= stylesheet_link_tag "screen" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <div id="header">
      <%= link_to(image_tag("logo_vinet.png", :alt => ""), "/accueil") %>
    </div>

    <div id="page">
      <div id="content">

        <div id="nav">
          <%= render :partial => '/shared/menu', :locals => { :page => @page} %>
          <%= image_tag("nav_picture.jpg", :id => "nav_picture", :alt => "" ) %>
          <p id="nav_text">« L'ÉDUCATION DE L'ESPRIT ET DU COEUR DOIT ÊTRE<br/> LE PREMIER OBJET DE TOUT SYSTÈME D'ÉTUDE. » <span id="citation">Alexandre Vinet</span></p>
        </div>

        <%= yield %>

        <div id="clear"></div>

      </div>
    </div>

    <div id="footer"></div>

  </body>
</html>
