<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
<% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "screen", "refinery/site_bar" %>
<% end %>

<%= render :partial => "/shared/head" %>

<body>
  <%= site_bar -%>

  <div id="header">
    <%= link_to(image_tag("logo_vinet.png", :alt => ""), "/") %>
  </div>

  <div id="page">
    <div id="content">

      <div id="nav">
        <%= render :partial => '/shared/menu', :locals => { :page => @page} %>
      </div>
      <% open = true %>
      <div id="section_container">
        <% Section.all.each_with_index do |section, index| %>

          <div id="section_<%= index + 1 %>" class="section <%= 'open' if open %>" >
            <% if index > 0 %>
              <div class="nav_wrap">
                <%= link_to image_tag("section_#{index + 1}_title.png", {:class => 'nav_img'} ) , url_for(section.page)  %>
                <span class="nav_background"></span>
              </div>
            <% end %>
            <%= image_fu section.image, '870x328', :class => "nav_picture", :alt => section.title %>
            <div class="nav_text">
              <h2><%= link_to section.heading_title, section.link %><span class="text_background"></span></h2>
              <p><%= link_to section.heading, section.link %><span class="text_background"></span></p>
            </div>
          </div>
          <% open = false if @page.nested_path.start_with?(Section.first.page.nested_path, section.page.nested_path)  %>
        <% end %>
        <div id="section_6" class="section">
          <div class="nav_wrap">
            <%= image_tag "section_6_title.png", :class => 'nav_img' %>
            <span class="nav_background active"></span>
          </div>
					<div id="form_contact">
						<form>
							<div class="float">
								<%= label_tag :Nom %><br/>
								<%= text_field_tag :name %>
								<br />
								<%= label_tag :Classe %><br/>
								<%= text_field_tag :class %>
								<br />
								<%= label_tag :Téléphone %><br/>
								<%= text_field_tag :phone %>
								<br />
								<%= label_tag :Sujet %><br/>
								<%= text_field_tag :subject %>
							</div>
							<div class="float">
								<%= label_tag :Message %><br/>
								<%= text_area_tag :message,nil, :rows => 10,  :cols => 60 %><br />
								<%= submit_tag 'Envoyer', :class => 'submit' %>
							</div>
						</form>
					</div>
          <%= image_tag "section_6_picture.jpg", :class => 'nav_picture' %>
        </div>
      </div>

      <div id="page_content">
        <%= yield %>
      </div>

      <div id="clear"></div>

    </div>
  </div>

  <div id="footer">
  </div>

  <%= render :partial => "/shared/javascripts" %>
</body>
</html>
