<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
<% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "screen", "refinery/site_bar" %>
<% end %>

<%= render :partial => "/shared/head" %>

<body>
  <%= site_bar -%>

  <div id="header">
    <%= link_to(image_tag("logo_vinet.png", :alt => ""), "/") %>
  </div>

  <div id="page">
    <div id="content">

      <div id="nav">
        <%= render :partial => '/shared/menu', :locals => { :page => @page} %>
      </div>
      <div id="sectiondata">
        <% Section.all.each_with_index do |s,i| %>
          <div id="section<%= i+1 %>"  <%=raw 'style="display: none"' unless i+1 == 1 %>  >
            <%= image_fu s.image, '870x328', :id => "nav_picture", :alt => "" %>
            <div id="nav_text" >
              <h2><%=raw  s.titre   %></h2>
              <p> <%=raw  s.chapeau %></p>
            </div>
          </div>
        <% end %>
      </div>


      <div class='horizontalaccordion'>
        <ul>
          <% Section.all.each_with_index do |s,i| %>
            <li <%= "class='current'" if @page.url== url_for(s.page.url) %>>
            <%= link_to s.nom, url_for(s.page.url), :'data-sectionid' => i+1 %>
            </li>
          <% end %>
        </ul>
      </div>

      <%= yield %>

      <div id="clear"></div>

    </div>
  </div>

  <div id="footer">
  </div>

  <%= render :partial => "/shared/javascripts" %>
</body>
</html>
