<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
<% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "screen", "refinery/site_bar" %>
<% end %>

<%= render :partial => "/shared/head" %>

<body>
  <%= site_bar -%>

  <div id="header">
    <%= link_to(image_tag("logo_vinet.png", :alt => ""), "/") %>
  </div>

  <div id="page">
    <div id="content">

      <div id="nav">
        <%= render :partial => '/shared/menu', :locals => { :page => @page} %>
      </div>
      <% open = true %>
      <div id="section_container">
        <% Section.all.each_with_index do |section, index| %>

          <div id="section_<%= index + 1 %>" class="section <%= 'open' if open %>" >
            <% if index > 0 %>
              <div class="nav_wrap">
                <%= link_to image_tag("section_#{index + 1}_title.png", {:class => 'nav_img'} ) , url_for(section.page)  %>
                <span class="nav_background"></span>
              </div>
            <% end %>
            <%= image_fu section.image, '870x328', :class => "nav_picture", :alt => section.title %>
            <div class="nav_text">
              <h2><%= link_to section.heading_title, section.link %><span class="text_background"></span></h2>
              <p><%= link_to section.heading, section.link %><span class="text_background"></span></p>
            </div>
          </div>
          <% open = false if @page.nested_path.start_with?(Section.first.page.nested_path, section.page.nested_path)  %>
        <% end %>
        <div id="section_6" class="section">
          <div class="nav_wrap">
            <%= image_tag "section_6_title.png", :class => 'nav_img' %>
            <span class="nav_background active"></span>
          </div>
					<div id="form_contact">
            <%= form_tag({:controller => 'send', :action => 'demande_contact'}, :remote => true, :id => 'demande_contact') do -%>
              <div id="contact_message"></div>
              <div id="fields" class="float">
                <h2>Demande d'information</h2>
                <p>Contactez-nous sans engagement pour une visite, nous vous renseignerons avec plaisir :</p><br /> 
                <%= label_tag :name, "Nom, Prénom" %><br/>
                <%= text_field_tag :name, :required => "required" %>
                <br />
                <%= label_tag :phone, "No de téléphone" %><br/>
                <%= text_field_tag :phone, :required => "required" %>
                <br />
                <%= label_tag :email, "Adresse e-mail" %><br/>
                <%= text_field_tag :email, :required => "required" %><br />
                <%= check_box_tag :booklet %><span> Je désire recevoir la brochure de l'école</span><br />
                <%= text_area_tag :message, '', :placeholder => 'Message', :cols => '24', :rows => '3', :required => "required" %>
                <br />
                <%= submit_tag 'Envoyer', :class => 'submit' %>
              </div>
              <div class="float_right">
                <p><strong>Formulaire de - </strong><a href="/send/demande_absence">Demande de congé</a></p><br/>
                <p><strong>Formulaire de - </strong><a href="/send/justification_absence">Justification d’absence</a></p><br/><br/>
                <p>Le secrétariat répond de 8 h à 12 h et de 14 h à 17 h (sauf mercredi après-midi).</p><br/>
                <p>Tél. <strong>021 312 44 70</strong> - Fax <strong>021 311 81 12</strong> </p>
						 </div>
            <% end %>
					</div>
          <%= image_tag "section_6_picture.jpg", :class => 'nav_picture' %>
        </div>
      </div>

      <div id="page_content">
        <%= yield %>
      </div>

      <div id="clear"></div>

    </div>
  </div>

  <div id="footer">
  </div>

  <%= render :partial => "/shared/javascripts" %>
  <% if Rails.env.production? %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2241355-12']);
      _gaq.push(['_setDomainName', 'ecole-vinet.ch']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
  <% end %>
</body>
</html>
